@font-face {
	font-family: Quicksand;
	src: url(Quicksand-VariableFont_wght.ttf);
}

body {
	font-family: Quicksand, sans-serif;
	background-image: linear-gradient(hsl(199, 100%, 10%), hsl(199, 100%, 20%));
	color: hsl(199, 100%, 90%);
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid white;
  text-align: center;
}

tbody:nth-child(odd) {
    background-color: #00000030;
}

table {
	border: 2px solid white;
	border-collapse: collapse;
}

.container {
	display: grid;
	grid-template-columns: 0.9fr 0.8fr 1.3fr;
	grid-template-rows: 0.5fr 0.5fr 2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"profilePic info scores"
		"profilePic info scores"
		". . scores";
}

.profilePic { grid-area: profilePic; }
.info { grid-area: info; }
.scores { grid-area: scores; }

.hoverDark:hover {
	filter: brightness(80%);
}

input {
	font-family: Quicksand, sans-serif;
	color: hsl(199, 100%, 90%);
	background-color: hsl(199, 100%, 5%);
	outline: none;
	border: none;
	/*width: 500px;*/
	width: auto;
	font-size: 17px;
	text-align: center;
}

.tooltip {
	position: fixed;
	background-color: black;
	color: white;
	padding: 5px 8px;
	border-radius: 4px;
	font-size: 14px;
	pointer-events: none;
	white-space: nowrap;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.1s;
}

.has-tooltip {
	/*cursor: default;*/
}