@font-face {
	font-family: Quicksand;
	src: url(Quicksand-VariableFont_wght.ttf);
}

body {
	font-family: Quicksand; sans-serif;
	background-image: linear-gradient(hsl(199, 100%, 10%), hsl(199, 100%, 20%));
	color: hsl(199, 100%, 90%);
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid white;
  text-align: center;
}

tbody:nth-child(odd) {
    background-color: #00000030;
}

table {
	border: 2px solid white;
	border-collapse: collapse;
}

.container {
	display: grid;
	grid-template-columns: 0.9fr 0.8fr 1.3fr;
	grid-template-rows: 0.5fr 0.5fr 2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"profilePic info scores"
		"profilePic info scores"
		". . scores";
}

.profilePic { grid-area: profilePic; }
.info { grid-area: info; }
.scores { grid-area: scores; }

.hoverDark:hover {
	filter: brightness(80%);
}